<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Password Reset</title>
</head>
<h1>Reset Password</h1>
<body>
    <form id="resetPassword">
        <label> Email</label>
        <input placeholder="rkb@gmail.com" type = "text" required name = "email"/> 
        <label>Enter new password</label>
        <input type = "password" required name = "password"/>
        <label>Confrim new password</label>
        <input type = "password" required name = "conf_password"/>
        <button type="submit" id="password_btn"> update </button>
    </form>
    <div class="errorBox"> </div>
    <div class = "succBox"> </div>
    <button type= "submit" onclick="btnClick(this)" >Login</button>
    <script>
        function btnClick(e){
            window.location.replace('/login')
        }
        const form = document.getElementById("resetPassword")
        const eBox =  document.querySelector(".errorBox")
        const sBox =  document.querySelector(".succBox")
         form.addEventListener("submit", async(e)=>{
            e.preventDefault()
            const email = form.email.value
            const pass = form.password.value
            const conf_pass  = form.conf_password.value
            if(pass == conf_pass) {
            try {
                 const checkEmail  = await fetch(`/user/:${email}` ,{
                 method:"POST",
                 body:JSON.stringify({email}),
                 headers :  { 'Content-Type': 'application/json'}
                 })
                 console.log(checkEmail)
                 if(checkEmail.status != 200){
                    eBox.textContent = "no user exists with this email"
                  }else{
                const temp = await fetch(`/user/updatePass/:${email}`,{
                    method:"PATCH",
                    body : JSON.stringify({ pass}),
                    headers :  { 'Content-Type': 'application/json'}
                })
                console.log(temp)
                const data = await temp.json()
                if(temp.status === 200){ 
                    eBox.textContent = ''
                    sBox.textContent = data.message ;
                }
                else console.log('error')
            }
            } catch (error) {
                console.log('error')   
            }
        }else{
            sBox.textContent = ''
            eBox.textContent = "password and confirm password do no match"
        }
         })
    </script>
</body>
</html>